django-bootstrap3==7.0.1
cffi==1.7.0
cmd2==0.6.8
dj-database-url==0.4.1
Django==1.10
django-crispy-forms==1.6.0
EasyProcess==0.2.2
enum-compat==0.0.2
gunicorn==19.6.0
i3ipc==1.2.0
Jinja2==2.8
MarkupSafe==0.23
packaging==16.7
psutil==4.3.0
psycopg2==2.6.2
py==1.4.31
pycparser==2.14
pyparsing==2.1.6
pytest==2.9.2
python3-xlib==0.15
pyxdg==0.25
requests==2.10.0
six==1.10.0
virtualenv==15.0.2
whitenoise==3.2.1
