{% extends 'main/base.html' %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">{{ defect.name }}</div>
			<table class="table">
			<tr>
				<td>Description: </td>
				<td>{{ defect.description }}</td>
			</tr>
			<tr>
				<td>Status: </td>
				<td>{{ defect.status }}</td>
			</tr>
			<tr>
				<td>Priority: </td>
				<td>{{ defect.priority }}</td>
			</tr>
			<tr>
			<td>Affected Versions:</td>
			<td>
				{% for version in defect.affected_versions.all %}
				{{ version.number }} - {{ version.name }}</br>
				{% endfor %}
			</td>
			</tr>
			<tr>
			<td>Fixed Versions:</td>
			<td>
				{% for version in defect.fixed_versions.all %}
				{{ version.number }} - {{ version.name }} <br>
				{% endfor %}
			</td>
			</tr>
			<tr>
				<td>Procedure:</td>
				<td>{{ defect.procedure }}</td>
			</tr>
			<tr>
				<td>Reporter:</td>
				<td>{{ defect.reporter.username }}</td>
			</tr>
			<tr>
				<td>Assigned to:</td>
				<td>{{ defect.assigned.username }}</td>
			</tr>
			<tr>
			<td>Affected Test Cases:</td>
			<td>
				{% for test_case in defect.affected_test_cases.all %}
				<a href="{% url 'test_case_by_id' test_case.id %}">{{ test_case }}</a>
				{% endfor %}
			</td>
			</tr>
			</table>
		</div>
		<input class="btn btn-success" type=button value="Edit" onClick="location.href='{% url 'update_defect' defect.id %}'"/>
		<input class="btn btn-primary" type=button value="Comment" onClick="document.getElementById('comment-form-id').style['display'] = 'block'">
	<br>
	{% include 'main/comment_snippet.html' %}
	<br>
	<div id="comment-form-id" style="display:none">
		<form method="POST" action="{% url 'add_comment_defect' defect.id %}">
			{% csrf_token %}
			{% bootstrap_form form %}
			{% buttons %}
			<button class="btn btn-primary" type="submit" >Post</button>
			{% endbuttons %}
		</form>
	</div>
</div>
{% endblock %}
