{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Test Manager</title>
</head>
<body>


<div class="container">
	<div class="page-header">
		<h1>Test Manager</h1>
	</div>
	<h2 class="panel-title">Please Sign In</h2>
	<br>
{% block content %}
	{% if form.errors %}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	{% if next %}
		{% if user.is_authenticated %}
			<p>Your account doesn't have access to this page. To proceed,
			please login with an account that has access.</p>
		{% else %}
			<p>Please login to see this page.</p>
		{% endif %}
	{% endif %}
</div>
<div class="container">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<p class="bs-component">
<table class="table">
<tr>
<td>{{ form.username.label_tag }}</td>
<td>{{ form.username }}</td>
</tr>
<tr>
<td>{{ form.password.label_tag }}</td>
<td>{{ form.password }}</td>
</tr>
</table>
</p>
<p class="bs-component">
<center>
{% buttons %}
<input class="btn btn-primary btn-sm" type="submit" value="Login" />
<input class="btn btn-primary btn-sm" type=button value="Register" onClick="location.href='{% url 'register_user' %}'">	
{% endbuttons %} 
</center>
</p>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascript %}

<script>
{% if not user.is_authenticated %}
{% endif %}
</script>

{% endblock %}
</body>
</html>
