{% extends 'main/base.html' %}

{% block content %}
	<br>
	<table>
	{% for persona in all_personas %}
	<tr>
		<td>Persona:</td>
		<td>{{ persona.name}}<td>
	</tr>
	<tr>
		<td>Description:</td>
		<td>{{ persona.description }}</td>
	</tr>
	<tr>
	<td><a href="{% url 'update_persona' persona.id %}">Edit</a>
	<td><a href="{% url 'delete_persona' persona.id %}" onclick="return confirm('Do you wish to delete this persona?');return false;">Delete</a>
	</tr>
	{% endfor %}
	</table>
	<br>
	<a href="{% url 'new_persona' %}">Create new persona</a>
{% endblock %}
