{% extends 'main/base.html' %}

{% block content %}
<table>                                                                                  
<tr>
<tr>
	<td>Name: </td>
	<td>{{ test_group.name }}</td>
</tr>
<tr>
	<td>Description: </td>
	<td>{{ test_group.description }}</td>
</tr>
	<tr>
		<td>Test Cases: </td>
	</tr>
	{% for tc in test_cases %}
	<tr>
		<td>{{ tc.0 }}</td>
		<td><a href="{% url 'run_test_case_by_id_from_group' test_group.id tc.0.id%}">Run</a></td>
		{% if tc.2 is not none %}
		<td><a href="{% url 'view_test_result' tc.2 %}">{{ tc.1 }}</a></td>
		{% else %}
		{% endif %}
	</tr>
	{% endfor %}
</tr>
<tr>
	<td>Test Charters: </td>
	{% for tc in test_group.test_charters.all %}
	<td>{{ tc }}</td>
	{% endfor %}
</tr>
</table>
<a href="{% url 'update_test_group' test_group.id  %}">Edit</a>
{% endblock %}
