{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<table class="table">                                                                                  
	<tr>
	<td>Versions:</td>
	{% for version in test_case.versions.all %}
	<td>{{ version.number }} - {{ version.name }} </td>
	{% endfor %}
	</tr>
	<tr>
		<td>Priority:</td>
		<td>{{ test_case.priority }}</td>
	</tr>
	<tr>
		<td>Name: </td>
		<td>{{ test_case.name }}</td>
	</tr>
	<tr>
		<td>Prerequisites:</td>
		<td>{{ test_case.prerequisites }}</td>
	</tr>
	<tr>
		<td>Persona</td>
		<td>{{ test_case.persona }}</td>
	</tr>
	<tr>
		<td>Procedure:</td>
		<td>{{ test_case.procedure }}</td>
	</tr>
	<tr>
		<td>Author:</td>
		<td>{{ test_case.author.username }}</td>
	</tr>
	</table>
	<input type=button class="btn btn-danger" value="Back" onClick="history.go(-1);">	
	<input class="btn btn-success" type=button value="Edit" onClick="location.href='{% url 'update_test_case' test_case.id %}'"/>

</div>
{% endblock %}
