{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Test Groups</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th></th>
					<th></th>
				</tr>
				{% for tg in all_test_groups %}
				<tr>
					<td> {{ tg.id }} </a></td>
					<td><a href="{% url 'test_group_by_id' tg.id %}"> {{ tg.name }} </a></td>
					<td><a href="{% url 'update_test_group' tg.id %}">Edit</a></td>
					<td><a href="{% url 'delete_test_group' tg.id %}" onclick="return confirm('Do you wish to delete this test group?');return false;">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<br>
	<input class="btn btn-success btn-sm" type=button value="Create Group" onClick="location.href='{% url 'new_test_group' version_id %}'">	
</div>
{% endblock %}
