{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-heading">Test Cases</div>
		<div class="panel-body">
			<table class="table">
				{% for tc in all_test_cases %}
				<tr>
				<td><a href="{% url 'test_case_by_id' tc.id %}"> {{ tc.name }} </a></td>
				<td><a href="{% url 'update_test_case' tc.id %}">Edit</a></td>
				<td><a href="{% url 'delete_test_case' tc.id %}" onclick="return confirm('Do you wish to delete this test case?');return false;">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	<br>
	<input class="btn btn-success btn-sm" type=button value="Create Test Case" onClick="location.href='{% url 'new_test_case' %}'">	
</div>
{% endblock %}
