{% extends 'main/base.html' %}

{% block content %}
<div class="container">
	<table class="table">
	<tr>
	<tr>
		<td>Areas Tested: </td>
		<td>{{ test_session.areas_tested }}</td>
	</tr>
	<tr>
		<td>Notes: </td>
		<td>{{ test_session.notes }}</td>
	</tr>
	<tr>
		<td>Tester: </td>
		<td>{{ test_session.tester }}</td>
	</tr>
	<tr>
		<td>Execution Date: </td>
		<td>{{ test_session.execution_date }}</td>
	</tr>
	</table>
	<input type=button class="btn btn-primary" value="Back" onClick="history.go(-1);">	
<div>
{% endblock %}
